body{
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
}

.card{
    background-color: hsl(216, 50%, 16%);
    width: 350px;
    height: 596px;
    border-radius: 15px;
}

.card img{
    width: 303px;
    height: 302px;
    border-radius: 15px;
    float: left;
    margin-top: 21px;
    margin-left: 24px;
}

.card h3{
    color: white;
    margin-left: 50px;
    margin-top: 50px;
}

.card h4{
    width: 70%;
    text-align: left;
    margin-left: 30px;
    font-family: Outfit;
    font-size: 15px;
    color: #97acc7;
}